body{
            background-color: aqua;
        }
        
.main{
            font-size: 24pt;
        }
.GFG{
            color: darkviolet;
            font-size: 50px;
        }
#god{
            font-style: bold;
            font-size: 20px;
        }